.main-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    transform-style: preserve-3d;
    position: relative;
}

.main-screen__earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    background: url(../../images/map_of_world/map-of-the-world-g69ec16f67_1920.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px #4d5e9c;
    animation: animateEarth 120s linear infinite;
}

@keyframes animateEarth {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1920px 0;
    }
}

.main-screen__circle {
    transform-style: preserve-3d;
    animation: animateText 60s linear infinite;
}

.main-screen__circle span {
    transform-style: preserve-3d;
    position: absolute;
    top: 150px;
    left: 360px;
    background: url(../../images/map_of_world/RidiculouslyDetailedMoonPictureInFull-642x642.jpeg);
    color: #35146f;
    font-size: 3em;
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    animation: animateText 60s linear infinite;
    transform: rotateY(calc(var(--i) * calc(360deg / 42))) rotateX(calc(var(--i) * calc(360deg / 42))) translateZ(200px);
    border-top: 2px slid #35146f;
    border-bottom: 2px slid #35146f;
}

.main-screen__nomad {
    transform-style: preserve-3d;
    position: absolute;
    top: 150px;
    left: 360px;
    background: url(../../images/map_of_world/m.svg);
    color: #35146f;
    font-size: 3em;
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 5px 11px;
    animation: animateText 60s linear infinite;
    transform: rotateY(calc(var(--i) * calc(360deg / 42))) rotateX(calc(var(--i) * calc(360deg / 42))) translateZ(200px);
    border-top: 2px slid #35146f;
    border-bottom: 2px slid #35146f;
}


@keyframes animateText {
    0% {
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
    }
}
