@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "screens/reset.css";
@import "screens/loginmain.css";
@import "screens/login.css";
@import "screens/variables.css";
@import "screens/screen1.css";

* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: url(../images/web_first_images_release.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}